<!doctype html>
{% load staticfiles %}
<html lang="es">
    <head>
        <title> Diego A Asencio C  </title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="WebAdmin v1.0 - Sitio web personal con estilo Landing Page administrable. Desarrollado por Diego A Asencio C" />
        <meta name="keywords" content="diegoasencio.co, desarrollador, web, backend, frontend, creative, cv, designer, diseño, hoja de vida, online cv, online resume, portafolio, powerful portfolio, professional, professional resume, responsive, resume, vcard, Diego, Asencio, Diego Asencio " />
        <meta name="developer" content="Diego Alejandro Asencio Cuellar">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- FAV AND ICONS   -->
        <link rel="shortcut icon" href="/static/landing/images/favicon.ico">
        <link rel="shortcut icon" href="/static/landing/images/apple-icon.png">
        <link rel="shortcut icon" sizes="72x72" href="/static/landing/images/apple-icon-72x72.png">
        <link rel="shortcut icon" sizes="114x114" href="/static/landing/images/apple-icon-114x114.png">

        <!-- Google Font-->
        <link href="//fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="/static/landing/css/font-awesome.min.css">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/static/landing/css/bootstrap.min.css">
        <!-- Animate CSS-->
        <link rel="stylesheet" href="/static/landing/css/animate.css">
        <!-- Owl Carousel CSS-->
        <link rel="stylesheet" href="/static/landing/css/owl.css">
        <!-- Fancybox-->
        <link rel="stylesheet" href="/static/landing/css/jquery.fancybox.min.css">

        <!-- Custom CSS-->
        <link rel="stylesheet" href="/static/landing/css/styles.css">
        <link rel="stylesheet" href="/static/landing/css/responsive.css">

        <!-- Colors -->
        <link rel="alternate stylesheet" href="/static/landing/css/blue.css" title="blue">
        <link rel="stylesheet" href="/static/landing/css/defauld.css" title="defauld">

    </head>
    <body class="white-vertion black-bg">

        <!-- Start Loader -->
        <div class="section-loader">
            <div class="loader">
                <div></div>
                <div></div>
            </div>
        </div>
        <!-- End Loader -->

        <!--
        ===================
           NAVIGATION
        ===================
        -->
        <header class="black-bg mh-header mh-fixed-nav nav-scroll mh-xs-mobile-nav" id="mh-header">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <nav class="navbar navbar-expand-lg mh-nav nav-btn">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto ml-auto">
                                <li class="nav-item active">
                                    <a class="nav-link" href="#mh-home">Inicio</a>
                                </li>
                                {% if about_me %}
                                <li class="nav-item">
                                    <a class="nav-link" href="#mh-about">Acerca de mi</a>
                                </li>
                                {% endif %}
                                {% if services %}
                                <li class="nav-item">
                                    <a class="nav-link" href="#mh-service">Servicios</a>
                                </li>
                                {% endif %}
                                {% if professional_skills or technical_skills %}
                                <li class="nav-item">
                                   <a class="nav-link" href="#mh-skills">Habilidades</a>
                                </li>
                                {% endif %}
                                {% if education or work_experience %}
                                <li class="nav-item">
                                   <a class="nav-link" href="#mh-experience">Experiencia</a>
                                </li>
                                {% endif %}
                                {% if portfolio %}
                                <li class="nav-item">
                                    <a class="nav-link" href="#mh-portfolio">Portafolio</a>
                                </li>
                                {% endif %}
                                {% if pricing %}
                                <li class="nav-item">
                                    <a class="nav-link" href="#mh-pricing">Precios</a>
                                </li>
                                {% endif %}
                                {% if blog %}
                                <li class="nav-item">
                                    <a class="nav-link" href="#mh-blog">Blog</a>
                                </li>
                                {% endif %}
                                <li class="nav-item">
                                   <a class="nav-link" href="#mh-contact">Contacto</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </header>

        <!--
        ===================
           Home
        ===================
        -->
        {% if site_config %}
        <section class="mh-home image-bg home-2-img" id="mh-home">
            <div class="img-foverlay img-color-overlay">
                <div class="container">
                    <div class="row section-separator xs-column-reverse vertical-middle-content home-padding">
                        <div class="col-sm-6">
                            <div class="mh-header-info">
                                <div class="mh-promo wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.1s">
                                    <span>Hola, soy</span>
                                </div>

                                <h2 class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">{{ site_config.person }}</h2>
                                <h4 class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">{{ site_config.job_title }}</h4>

                                <ul>
                                    <li class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.4s"><i class="fa fa-envelope"></i><a href="mailto:">{{ site_config.email }}</a></li>
                                    <li class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.5s"><i class="fa fa-phone"></i><a href="callto:">+57 {{ site_config.cellphone }}</a></li>
                                    <li class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.6s"><i class="fa fa-map-marker"></i><address>{{ site_config.address }}</address></li>
                                </ul>

                                {% if social_networks %}
                                <ul class="social-icon wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.7s">
                                {% for social_network in social_networks %}
                                    <li><a href="{{ social_network.url }}" target="_blank"><i class="{{ social_network.icon }}"></i></a></li>
                                {% endfor %}
                                </ul>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="hero-img wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.6s">
                                <div class="img-border">
                                    <img src="/media/{{ site_config.image }}" alt=""  class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% endif %}

        <!--
        ===================
           ABOUT
        ===================
        -->
        {% if about_me %}
        <section class="mh-about" id="mh-about">
            <div class="container">
                <div class="row section-separator">
                    <div class="col-sm-12 col-md-6">
                        <div class="mh-about-img shadow-2 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.4s">
                            <img src="/media/{{ about_me.image }}" alt="" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="mh-about-inner">
                            <h2 class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.1s">{{ about_me.title }}</h2>
                            <p class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">{{ about_me.description }}</p>
                            <div class="mh-about-tag wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">
                                {% if technical_skills %}
                                <ul>
                                    {% for skill in technical_skills %}
                                    <li><span>{{ skill.name }}</span></li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </div>
                            <a href="/media/{{ about_me.curriculum_vitae }}" target="_blank" class="btn btn-fill wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.4s">Descargar CV <i class="fa fa-download"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% endif %}

        <!--
        ===================
           SERVICE
        ===================
        -->
        {% if services %}
        <section class="mh-service" id="mh-service">
            <div class="container">
                <div class="row section-separator">
                    <div class="col-sm-12 text-center section-title wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">
                        <h2>Servicios que hago</h2>
                    </div>
                    {% for service in services %}
                    <div class="col-sm-4">
                        <div class="mh-service-item shadow-1 dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">
                            <i class="{{ service.icon }}"></i>
                            <h3>{{ service.title }}</h3>
                            <p>
                                {{ service.description }}
                            </p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        {% endif %}

        <!--
        ===================
          FEATURE PROJECTS
        ===================
        -->
        {% if features_projects %}
        <section class="mh-featured-project image-bg featured-img-one">
            <div class="img-color-overlay">
                <div class="container">
                    <div class="row section-separator">
                        <div class="section-title col-sm-12">
                            <h3>Mis proyectos destacados</h3>
                        </div>
                        <div class="col-sm-12">
                            <div class="mh-single-project-slide-by-side row">
                                <!-- Project Items -->
                                {% for feature_project in features_projects %}
                                <div class="col-sm-12 mh-featured-item">
                                    <div class="row">
                                        <div class="col-sm-7">
                                            <div class="mh-featured-project-img shadow-2 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">
                                                <img src="/media/{{ feature_project.image }}" alt="" class="img-fluid">
                                            </div>
                                        </div>
                                        <div class="col-sm-5">
                                            <div class="mh-featured-project-content">
                                                <h4 class="project-category wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.4s">{{ features_projects.category }}</h4>
                                                <h2 class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.5s">{{ features_projects.title }}</h2>
                                                <span class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.6s">{{ features_projects.subtitle }}</span>
                                                <p class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.7s">{{ features_projects.description }}</p>
                                                {% if features_projects.url %}<a href="" class="btn btn-fill wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.7s">Ver detalles</a>{% endif %}
                                                <!--
                                                <div class="mh-testimonial mh-project-testimonial wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.9s">
                                                    <blockquote>
                                    					<q>Organize Code - suits my needs perfectly whilst allowing me to learn some new technology first hand.</q>
                                    					<cite>- Shane Kavanagh</cite>
                                    				</blockquote>
                                                </div>
                                                -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Project Items -->
                                {% endfor %}

                            </div>
                        </div>
                    </div> <!-- End: .row -->
                </div>
            </div>
        </section>
        {% endif %}

        <!--
        ===================
           SKILLS
        ===================
        -->
        {% if technical_skills or professional_skills %}
        <section class="mh-skills" id="mh-skills">
            <div class="home-v-img">
                <div class="container">
                    <div class="row section-separator">
                        <div class="section-title text-center col-sm-12">
                            <!--<h2>Skills</h2>-->
                        </div>
                        {% if technical_skills %}
                        <div class="col-sm-12 col-md-6">
                            <div class="mh-skills-inner">
                                <div class="mh-professional-skill wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">
                                    <h3>Habilidades Técnicas</h3>
                                    <div class="each-skills">
                                        {% for skill in technical_skills %}
                                        <div class="candidatos">
                                            <div class="parcial">
                                                <div class="info">
                                                    <div class="nome">{{ skill.name }}</div>
                                                    <div class="percentagem-num">{{ skill.score }}%</div>
                                                </div>
                                                <div class="progressBar">
                                                    <div class="percentagem" style="width:{{ skill.score }}%;"></div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}

                        {% if professional_skills %}
                        <div class="col-sm-12 col-md-6">
                            <div class="mh-professional-skills wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.5s">
                                <h3>Habilidades Profesionales</h3>
                                <ul class="mh-professional-progress">
                                    {% for skill in professional_skills %}
                                    <li>
                                        <div class="mh-progress mh-progress-circle" data-progress="{{ skill.score }}"></div>
                                        <div class="pr-skill-name">{{ skill.name }}</div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        {% endif %}

                    </div>
                </div>
            </div>
        </section>
        {% endif %}

        <!--
        ===================
           EXPERIENCES
        ===================
        -->
        {% if education and work_experience %}
        <section class="mh-experince image-bg featured-img-one" id="mh-experience">
            <div class="img-color-overlay">
                <div class="container">
                    <div class="row section-separator">
                        <div class="col-sm-12 col-md-6">
                            <div class="mh-education">
                                <h3 class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">Educación</h3>
                                <div class="mh-education-deatils">
                                    <!-- Education Institutes-->
                                    {% for institute in education %}
                                    <div class="mh-education-item dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">
                                        <h4>{{ institute.title }} de <a href="">{{ institute.institution }}</a></h4>
                                        <div class="mh-eduyear">{{ institute.start_date }} - {{ institute.end_date }}</div>
                                        <p>{{ institute.description }} </p>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="mh-work">
                                 <h3>Experiencia Laboral</h3>
                                <div class="mh-experience-deatils">
                                    <!-- Work Institutes-->
                                    {% for institute in work_experience %}
                                    <div class="mh-work-item dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.4s">
                                        <h4>{{ institute.title }} en <a href="">{{ institute.institution }}</a></h4>
                                        <div class="mh-eduyear">{{ institute.start_date }} - {{ institute.end_date }}</div>
                                        <p>{{ institute.description }} </p>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% endif %}
        <!--
        ===================
           PORTFOLIO
        ===================
        -->
        {% if portfolio %}
        <section class="mh-portfolio" id="mh-portfolio">
            <div class="container">
                <div class="row section-separator">
                    <div class="section-title col-sm-12 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.1s">
                        <h3>Portafolio</h3>
                    </div>
                    <div class="part col-sm-12">
                        {% if project_categories %}
                        <div class="portfolio-nav col-sm-12" id="filter-button">
                            <ul>
                                <li data-filter="*" class="current wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.1s"> <span>Todas las categorías</span></li>
                                {% for category in project_categories %}
                                <li data-filter=".{{ category.slug }}" class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s"><span>{{ category.title }}</span></li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                        {% if portfolio %}
                        <div class="mh-project-gallery col-sm-12 wow fadeInUp" id="project-gallery" data-wow-duration="0.8s" data-wow-delay="0.5s">
                            <div class="portfolioContainer row">
                                {% for project in portfolio %}
                                <div class="grid-item col-md-4 col-sm-6 col-xs-12 {{ project.category.slug }}">
                                    <figure>
                                        <img src="/media/{{ project.image }}" alt="img04">
                                        <figcaption class="fig-caption">
                                            <i class="fa fa-search"></i>
                                            <h5 class="title">{{ project.title }}</h5>
                                            <span class="sub-title">{{ project.category }}</span>
                                            <a data-fancybox data-src="#mh-{{ project.category.slug }}"></a>
                                        </figcaption>
                                    </figure>
                                </div>
                                <div class="mh-portfolio-modal" id="mh-{{ project.category.slug }}">
                                    <div class="container">
                                        <div class="row mh-portfolio-modal-inner">
                                            <div class="col-sm-5">
                                                <img src="/media/{{ project.image }}" alt="" class="img-fluid">
                                                    <p>.</p>
                                            </div>
                                            <div class="col-sm-7">
                                                <div class="mh-portfolio-modal-img">
                                                    <h2>{{ project.title }}</h2>
                                                    <p>{{ project.description }}</p>
                                                    <div class="mh-about-tag">
                                                         {% if project.technical_skills %}
                                                        <ul>
                                                            {% for skill in project.technical_skills.all %}
                                                            <li><span>{{ skill.name }}</span></li>
                                                            {% endfor %}
                                                        </ul>
                                                        {% endif %}

                                                    </div>
                                                    <a href="{{ project.url }}" target="_blank" class="btn btn-fill">Ver más</a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div> <!-- End: .grid .project-gallery -->
                        </div> <!-- End: .grid .project-gallery -->
                        {% endif %}
                    </div> <!-- End: .part -->
                </div> <!-- End: .row -->
            </div>




        </section>
        {% endif %}

        <!--
        ===================
           QUATES
        ===================

        <section class="mh-quates image-bg home-2-img">
            <div class="img-color-overlay">
                <div class="container">
                    <div class="row section-separator">
                        <div class="each-quates col-sm-12 col-md-6">
                            <h3 class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">Interested to Work?</h3>
                            <p class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.4s">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat. Mirum est notare quam littera gothica.
                            quam nunc putamus parum claram,</p>
                            <a href="mh-contact" class="btn btn-fill wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.5s">Contact</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        -->
        <!--
        ===================
           PRICING
        ===================
        -->
        {% if princing %}
        <section class="mh-pricing" id="mh-pricing">
            <div class="">
                <div class="container">
                    <div class="row section-separator">
                        <div class="col-sm-12 section-title wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">
                            <h3>Pricing Table</h3>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <div class="mh-pricing dark-bg shadow-2 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">
                                <i class="fa fa-calendar"></i>
                                <h4>Trabajo Medio Tiempo</h4>
                                <p>I am available for medium time</p>
                                <h5>$1500</h5>
                                <ul>
                                    <li>Web Development</li>
                                    <li>Advetising</li>
                                    <li>Game Development</li>
                                    <li>Music Writing</li>
                                </ul>
                                <a href="" class="btn btn-fill">Hire Me</a>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <div class="mh-pricing dark-bg shadow-2 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.5s">
                                <i class="fa fa-file"></i>
                                <h4>Fixed Price Project</h4>
                                <p>I am available for fixed roles</p>
                                <h5>$500</h5>
                                <ul>
                                    <li>Web Development</li>
                                    <li>Advetising</li>
                                    <li>Game Development</li>
                                    <li>Music Writing</li>
                                </ul>
                                <a href="" class="btn btn-fill">Hire Me</a>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <div class="mh-pricing dark-bg shadow-2 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.7s">
                                <i class="fa fa-hourglass"></i>
                                <h4>Hourley work</h4>
                                <p>I am available for Hourley projets</p>
                                <h5>$50</h5>
                                <ul>
                                    <li>Web Development</li>
                                    <li>Advetising</li>
                                    <li>Game Development</li>
                                    <li>Music Writing</li>
                                </ul>
                                <a href="" class="btn btn-fill">Hire Me</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% endif %}
        <!--
        ===================
           BLOG
        ===================
        -->
        {% if blog %}
        <section class="mh-blog image-bg featured-img-two" id="mh-blog">
            <div class="img-color-overlay">
                <div class="container">
                    <div class="row section-separator">
                        <div class="col-sm-12 section-title wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">
                            <h3>Blog - entradas recientes</h3>
                        </div>

                        <div class="col-sm-12 col-md-4">
                             <div class="mh-blog-item dark-bg wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.3s">
                                <img src="/static/landing/images/b-3.png" alt="" class="img-fluid">
                                <div class="blog-inner">
                                    <h2><a href="blog-single.html">A life without the daily traffic jams</a></h2>
                                    <div class="mh-blog-post-info">
                                        <ul>
                                            <li><strong>Post On</strong><a href="">24.11.19</a></li>
                                            <li><strong>By</strong><a href="">ThemeSpiders</a></li>
                                        </ul>
                                    </div>
                                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout</p>
                                    <a href="blog-single.html">Read More</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        {% endif %}
        <!--
        ===================
           Testimonial
        ===================
        -->
        {% if client_reviews %}
        <section class="mh-testimonial" id="mh-testimonial">
            <div class="home-v-img">
                <div class="container">
                    <div class="row section-separator">
                        <div class="col-sm-12 section-title wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">
                            <h3>Comentarios de Clientes</h3>
                        </div>
                        <div class="col-sm-12 wow fadeInUp" id="mh-client-review" data-wow-duration="0.8s" data-wow-delay="0.3s">
                            {% for review in client_reviews %}
                            <div class="each-client-item">
                                <div class="mh-client-item dark-bg black-shadow-1">
                                    <img src="/media/{{ review.client_image }}" alt="" class="img-fluid">
                                    <p>{{ review.review }}</p>
                                    <h4>{{ review.client_name }}</h4>
                                    <span>{{ review.client_job_title }}</span>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% endif %}

        <!--
        ===================
           FOOTER 3
        ===================
        -->
        <footer class="mh-footer mh-footer-3" id="mh-contact">
            <div class="container-fluid">
                <div class="row section-separator">
                    <div class="col-sm-12 section-title wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">
                        <h3>Contáctame</h3>
                    </div>
                    <div class="map-image image-bg col-sm-12">
                        <div class="container mt-30">
                            <div class="row">
                                {% if site_config %}
                                <div class="col-sm-12 col-md-6 mh-footer-address">
                                    <div class="col-sm-12 xs-no-padding">
                                        <div class="mh-address-footer-item dark-bg shadow-1 media wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">
                                            <div class="each-icon">
                                                <i class="fa fa-location-arrow"></i>
                                            </div>
                                            <div class="each-info media-body">
                                                <h4>Dirección</h4>
                                                <address>
                                                    {{ site_config.address }}
                                                </address>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 xs-no-padding">
                                        <div class="mh-address-footer-item media dark-bg shadow-1 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.4s">
                                            <div class="each-icon">
                                                <i class="fa fa-envelope-o"></i>
                                            </div>
                                            <div class="each-info media-body">
                                                <h4>Correo electrónico</h4>
                                                <a href="mailto:{{ site_config.email }}">{{ site_config.email }}</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 xs-no-padding">
                                        <div class="mh-address-footer-item media dark-bg shadow-1 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.6s">
                                            <div class="each-icon">
                                                <i class="fa fa-phone"></i>
                                            </div>
                                            <div class="each-info media-body">
                                                <h4>Celular</h4>
                                                <a href="callto:{{ site_config.cellphone }}">{{ site_config.cellphone }}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}

                                <div class="col-sm-12 col-md-6 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">
                                    <form id="contactForm" class="single-form quate-form wow fadeInUp" data-toggle="validator">
                                        <div id="msgSubmit" class="h3 text-center hidden"></div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <input name="name" class="contact-name form-control" id="name" type="text" placeholder="Nombres" required>
                                            </div>

                                            <div class="col-sm-12">
                                                <input name="name" class="contact-email form-control" id="L_name" type="text" placeholder="Apellidos" required>
                                            </div>

                                            <div class="col-sm-12">
                                                <input name="name" class="contact-subject form-control" id="email" type="email" placeholder="Correo" required>
                                            </div>

                                            <div class="col-sm-12">
                                                <input name="subject" class="contact-email form-control" id="subject" type="text" placeholder="Asunto" required>
                                            </div>

                                            <div class="col-sm-12">
                                                <textarea class="contact-message" id="message" rows="6" placeholder="Tu mensaje" required></textarea>
                                            </div>

                                            <!-- Subject Button -->
                                            <div class="btn-form col-sm-12">
                                                <button type="submit" class="btn btn-fill btn-block" id="form-submit">Enviar mensaje</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-sm-12 mh-copyright wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="text-left text-xs-center">
                                                <p>{{ site_config.copyright }}</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            {% if social_networks %}
                                            <ul class="social-icon">
                                                {% for social_network in social_networks %}
                                                    <li><a href="{{ social_network.url }}" target="_blank"><i class="{{ social_network.icon }}"></i></a></li>
                                                {% endfor %}
                                            </ul>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    <!--
    ==============
    * JS Files *
    ==============
    -->

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <!-- jQuery -->
    <script src="/static/landing/js/jquery.min.js"></script>
    <!-- popper -->
    <script src="/static/landing/js/popper.min.js"></script>
    <!-- bootstrap -->
    <script src="/static/landing/js/bootstrap.min.js"></script>
    <!-- owl carousel -->
    <script src="/static/landing/js/owl.carousel.js"></script>
    <!-- validator -->
    <script src="/static/landing/js/validator.min.js"></script>
    <!-- wow -->
    <script src="/static/landing/js/wow.min.js"></script>
    <!-- mixin js-->
    <script src="/static/landing/js/jquery.mixitup.min.js"></script>
    <!-- circle progress-->
    <script src="/static/landing/js/circle-progress.js"></script>
    <!-- jquery nav -->
    <script src="/static/landing/js/jquery.nav.js"></script>
    <!-- Fancybox js-->
    <script src="/static/landing/js/jquery.fancybox.min.js"></script>
    <!-- Map api -->
    <script src="//maps.googleapis.com/maps/api/js?v=3.exp&amp;key=AIzaSyCRP2E3BhaVKYs7BvNytBNumU0MBmjhhxc"></script>
    <!-- isotope js-->
    <script src="/static/landing/js/isotope.pkgd.js"></script>
    <script src="/static/landing/js/packery-mode.pkgd.js"></script>
    <!-- Custom Scripts-->
    <script src="/static/landing/js/map-init.js"></script>
    <script src="/static/landing/js/custom-scripts.js"></script>


</body>
</html>